.testimonials {
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}

.icon-bg-next {
  background-color: #212ea0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
}

.icon-bg-back {
  background-color: #212ea0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
}

.next-btn,
.back-btn {
  width: 20px;
}
